# ========================
# Java / Spring Boot
# ========================
*.class
*.jar
*.war
*.ear
target/
.mvn/
mvnw
mvnw.cmd

# ========================
# React / Node
# ========================
node_modules/
build/
dist/
.env
.env.local

# ========================
# Datenbank
# ========================
*.sql.bak

# ========================
# IDEs
# ========================
.idea/
*.iml
.vscode/
*.suo

# ========================
# Betriebssystem
# ========================
.DS_Store
Thumbs.db

# ========================
# Lokale Konfiguration mit Passwort
# ========================
src/main/resources/application.properties